@page
@model IndexModel
@{
    string path = HttpContext.Request.Path;
    ViewData["Title"] = "Home page";
    ViewData["path"] = path;
    ViewData["HeaderText"] = "Welcome back, Alyxia!";
}

<div>
    @path
</div>