@page
@using Dashboard.DTO
@model IndexModel
@{
    string path = HttpContext.Request.Path;
    var products = (List<Product>)ViewData["products"];
    ViewData["Title"] = "Home page";
    ViewData["path"] = path;
    ViewData["HeaderText"] = "Welcome back, Alyxia!";
}

<div>
    Products: @products.Count
</div>