@page
@model PrivacyModel
@{
    string path = HttpContext.Request.Path;
    ViewData["Title"] = "Privacy Policy";
    ViewData["path"] = path;
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>