/* Product meta styles {{{ */
.product-meta {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    border-radius: var(--chakra-radii-md);
    padding: var(--chakra-space-8);
    min-width: 0px;
    background-color: var(--chakra-colors-secondary-dark);
}
@media screen and (min-width: 48em) {
    .product-meta {
        padding: var(--chakra-space-4);
        min-width: var(--chakra-sizes-full);
    }
}

.product-meta-content {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--chakra-space-2);
}
.product-meta-content > :not(style) ~ :not(style) {
    margin-top: 0px;
    margin-inline: 0px;
    margin-bottom: 0px;
}
@media screen and (min-width: 48em) {
    .product-meta-content {
        -webkit-box-pack: start;
        justify-content: flex-start;
        flex-direction: row;
    }
}

.product-meta-content-pre {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: row;
    border-right-width: 0px;
    border-bottom-width: 2px;
    padding-right: 0px;
    padding-bottom: var(--chakra-space-2);
    margin-bottom: var(--chakra-space-1);
    border-color: rgba(255, 255, 255, 0.1);
    gap: var(--chakra-space-2);
}
@media screen and (min-width: 48em) {
    .product-meta-content-pre {
        border-right-width: 2px;
        border-bottom-width: 0px;
        padding-right: var(--chakra-space-4);
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
}

.pre-holder {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: row;
}
.pre-holder > :not(style) ~ :not(style) {
    margin-top: 0px;
    margin-inline: 0.5rem 0px;
    margin-bottom: 0px;
}

.pre-icon-holder {
    border-radius: 100%;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: var(--chakra-fontWeights-medium);
    position: relative;
    flex-shrink: 0;
    background-image: initial;
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    color: var(--chakra-colors-white);
    border-color: var(--chakra-colors-gray-800);
    vertical-align: top;
    width: var(--chakra-sizes-8);
    height: var(--chakra-sizes-8);
    font-size: calc(0.8rem);
    background-color: var(--chakra-colors-gray-600);
}
.pre-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.pre-content {
    display: flex;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: column;
}
.pre-content > :not(style) ~ :not(style) {
    margin-top: 0px;
    margin-inline: 0px;
    margin-bottom: 0px;
}

.pre-content-title-holder {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: row;
}
.pre-content-title {
    font-family: var(--chakra-fonts-normal);
    font-weight: 600;
}
@media screen and (min-width: 48em) {
    .pre-content-title {
        font-size: var(--chakra-fontSizes-md);
        line-height: 1.2;
    }
}

.pre-content-sub {
    font-weight: 400;
    font-size: var(--chakra-fontSizes-md);
    font-family: var(--chakra-fonts-normal);
}
@media screen and (min-width: 48em) {
    .pre-content-sub {
        font-size: var(--chakra-fontSizes-sm);
    }
}

.product-meta-content-items {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-flow: row wrap;
    padding-left: 0px;
    gap: var(--chakra-space-6);
}
@media screen and (min-width: 48em) {
    .product-meta-content-items {
        -webkit-box-pack: start;
        justify-content: flex-start;
        padding-left: var(--chakra-space-2);
    }
}

/* Meta item */
.item {
    display: flex;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: column;
}
.item > :not(style) ~ :not(style) {
    margin-top: var(--chakra-space-1);
    margin-inline: 0px;
    margin-bottom: 0px;
}

.item-title {
    user-select: none;
    text-transform: uppercase;
    font-size: var(--chakra-fontSizes-xs);
    font-weight: 750;
    line-height: 1;
    color: rgb(185, 187, 190);
}
.item-desc {
    line-height: 1;
    font-size: var(--chakra-fontSizes-sm);
}
/* }}} */

/* Product content styles {{{ */
.product-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-flow: row wrap;
    width: var(--chakra-sizes-full);
    padding-top: var(--chakra-space-2);
    padding-bottom: var(--chakra-space-2);
    gap: var(--chakra-space-5);
}
@media screen and (min-width: 48em) {
    .product-content {
        flex-wrap: nowrap;
    }
}

.list {
    display: flex;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: column;
    width: var(--chakra-sizes-full);
    padding-top: var(--chakra-space-2);
}
.list > :not(style) ~ :not(style) {
    margin-top: var(--chakra-space-2);
    margin-inline: 0px;
    margin-bottom: 0px;
}

.list-header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: row;
    width: var(--chakra-sizes-full);
    padding-right: var(--chakra-space-1);
}

.list-header-text {
    font-family: var(--chakra-fonts-heading);
    font-weight: 500;
    font-size: var(--chakra-fontSizes-xl);
    line-height: 1;
}
.edit-button {
    display: inline-flex;
    appearance: none;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: transparent solid 2px;
    outline-offset: 2px;
    line-height: 1.2;
    border-radius: var(--chakra-radii-md);
    font-weight: var(--chakra-fontWeights-semibold);
    transition-property: var(--chakra-transition-property-common);
    transition-duration: var(--chakra-transition-duration-normal);
    height: var(--chakra-sizes-6);
    min-width: var(--chakra-sizes-6);
    font-size: var(--chakra-fontSizes-xs);
    padding-inline-start: var(--chakra-space-2);
    padding-inline-end: var(--chakra-space-2);
    color: var(--chakra-colors-whiteAlpha-900);
    padding: 0px;
    background-color: var(--chakra-colors-transparent);
}
.edit-button-icon {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    line-height: 1em;
    flex-shrink: 0;
    color: currentColor;
}

.list-content {
    display: flex;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 0px;
    padding-top: 0px;
    width: var(--chakra-sizes-full);
    border-radius: var(--chakra-radii-sm);
    gap: 1px;
    box-shadow: rgb(4 4 5 / 5%) 0px 2px 0px, rgb(6 6 7 / 5%) 0px 1.5px 0px, rgb(4 4 5 / 20%) 0px 1px 0px;
    background-color: var(--chakra-colors-tertiary-dark);
}

.list-item {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: var(--chakra-sizes-full);
    padding-top: 0.343rem;
    padding-bottom: 0.343rem;
    padding-inline-start: var(--chakra-space-2);
    padding-inline-end: var(--chakra-space-2);
    margin: 0px;
    background-color: var(--chakra-colors-secondary-dark);
}

.list-item-content {
    transition-property: var(--chakra-transition-property-common);
    transition-duration: var(--chakra-transition-duration-fast);
    transition-timing-function: var(--chakra-transition-easing-ease-out);
    cursor: pointer;
    text-decoration: none;
    outline: transparent solid 2px;
    outline-offset: 2px;
    color: inherit;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: row;
    width: var(--chakra-sizes-full);
}
.list-item-content > :not(style) ~ :not(style) {
    margin-top: 0px;
    margin-inline: 0.5rem 0px;
    margin-bottom: 0px;
}

.list-item-kv {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: row;
    width: var(--chakra-sizes-full);
}
.kv-text {
    font-size: var(--chakra-fontSizes-sm);
}

.list-item-kv-editable {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: var(--chakra-sizes-full);
    padding-top: var(--chakra-space-1);
    padding-bottom: var(--chakra-space-1);
    padding-inline-start: var(--chakra-space-2);
    padding-inline-end: var(--chakra-space-2);
    margin: 0px;
}

.list-item-kv-input {
    width: var(--chakra-sizes-full);
    min-width: 0px;
    outline: transparent solid 2px;
    outline-offset: 2px;
    position: relative;
    appearance: none;
    transition-property: var(--chakra-transition-property-common);
    transition-duration: var(--chakra-transition-duration-normal);
    font-size: var(--chakra-fontSizes-sm);
    padding-inline: 0px;
    height: var(--chakra-sizes-6);
    border-radius: var(--chakra-radii-sm);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: inherit;
    background: var(--chakra-colors-transparent);
}
/* }}} */