.product-meta {
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    border-radius: var(--chakra-radii-md);
    padding: var(--chakra-space-8);
    min-width: 0px;
    background-color: var(--chakra-colors-secondary-dark);
}
@media screen and (min-width: 48em) {
    .product-meta {
        padding: var(--chakra-space-4);
        min-width: var(--chakra-sizes-full);
    }
}

.product-meta-content {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    gap: var(--chakra-space-2);
}
.product-meta-content > :not(style) ~ :not(style) {
    margin-top: 0px;
    margin-inline: 0px;
    margin-bottom: 0px;
}
@media screen and (min-width: 48em) {
    .product-meta-content {
        -webkit-box-pack: start;
        justify-content: flex-start;
        flex-direction: row;
    }
}

.product-meta-content-pre {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: row;
    border-right-width: 0px;
    border-bottom-width: 2px;
    padding-right: 0px;
    padding-bottom: var(--chakra-space-2);
    margin-bottom: var(--chakra-space-1);
    border-color: rgba(255, 255, 255, 0.1);
    gap: var(--chakra-space-2);
}
@media screen and (min-width: 48em) {
    .product-meta-content-pre {
        border-right-width: 2px;
        border-bottom-width: 0px;
        padding-right: var(--chakra-space-4);
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
}

.pre-holder {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: row;
}
.pre-holder > :not(style) ~ :not(style) {
    margin-top: 0px;
    margin-inline: 0.5rem 0px;
    margin-bottom: 0px;
}

.pre-icon-holder {
    border-radius: 100%;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: var(--chakra-fontWeights-medium);
    position: relative;
    flex-shrink: 0;
    background-image: initial;
    background-position: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    color: var(--chakra-colors-white);
    border-color: var(--chakra-colors-gray-800);
    vertical-align: top;
    width: var(--chakra-sizes-8);
    height: var(--chakra-sizes-8);
    font-size: calc(0.8rem);
    background-color: var(--chakra-colors-gray-600);
}
.pre-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.pre-content {
    display: flex;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: column;
}
.pre-content > :not(style) ~ :not(style) {
    margin-top: 0px;
    margin-inline: 0px;
    margin-bottom: 0px;
}

.pre-content-title-holder {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: row;
}
.pre-content-title-holder > :not(style) ~ :not(style) {
    margin-top: 0px;
    margin-inline-end: 0px;
    margin-bottom: 0px;
    margin-inline-start: var(--chakra-space-1);
}
.pre-content-title {
    font-family: var(--chakra-fonts-normal);
    font-weight: 600;
}
@media screen and (min-width: 48em) {
    .pre-content-title {
        font-size: var(--chakra-fontSizes-md);
        line-height: 1.2;
    }
}
.pre-content-title-icon {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: start;
    justify-content: flex-start;
    flex-direction: row;
}
.icon {
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    line-height: 1em;
    flex-shrink: 0;
    color: currentColor;
    vertical-align: middle;
}

.pre-content-sub {
    font-weight: 400;
    font-size: var(--chakra-fontSizes-md);
    font-family: var(--chakra-fonts-normal);
}
@media screen and (min-width: 48em) {
    .pre-content-sub {
        font-size: var(--chakra-fontSizes-sm);
    }
}

.product-meta-content-items {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-flow: row wrap;
    padding-left: 0px;
    gap: var(--chakra-space-6);
}
@media screen and (min-width: 48em) {
    .product-meta-content-items {
        -webkit-box-pack: start;
        justify-content: flex-start;
        padding-left: var(--chakra-space-2);
    }
}

/* Meta item */
.item {
    display: flex;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    flex-direction: column;
}
.item > :not(style) ~ :not(style) {
    margin-top: var(--chakra-space-1);
    margin-inline: 0px;
    margin-bottom: 0px;
}

.item-title {
    user-select: none;
    text-transform: uppercase;
    font-size: var(--chakra-fontSizes-xs);
    font-weight: 750;
    line-height: 1;
    color: rgb(185, 187, 190);
}
.item-desc {
    line-height: 1;
    font-size: var(--chakra-fontSizes-sm);
}
