body{
    height: 900px;
    max-width: 100%;

}

.background-image{
    top: 97px;
    z-index: -1;
    filter: brightness(50%);

}

.black-header{
    position: relative;
    width: 100%;
    height: 98px;
    background-color:   black ;
    z-index: 1;
}

img{
    position: relative;
    background-size: cover;
    width: 100%;
    height: 580px;
}

.overlay {
    position: absolute;
    top: 97px;
    height: 36.32em;
    width: 100%;
    background-color: black;
    opacity: 0%;
    z-index: 0;
}

.main-text{
    color: white;
    font-size: 60px;
    height: 5em;
    position: relative;
    top: -400px;
    filter: drop-shadow(1px 1px 10px #00000075);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text1{
    color: white;
    font-size: 40px;
    position: relative;
    top: -500px;
    filter: drop-shadow(1px 1px 10px #00000075);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.text2{
    color: white;
    font-size: 20px;
    position: relative;
    top: -450px;
    filter: drop-shadow(1px 1px 10px #00000075);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.under-line{
    background-color: gray;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 45em;
}

.midlle-line{
    background-color: gray;
    width: 2px;
    height: 45em;
    position: absolute;
    top: 55em;
    left: 40%;
}

/*Form CSS/On the right side of the line*/
.form-all{
    position: relative;
}

.form-text-1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: -5em;
    left: 19.9em;
    width: 500px;
    font-size: 40px;
}

.form-text-2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: -6em;
    left: 40em;
    width: 500px;
    font-size: 20px;
}

.form-naam {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: -2em;
    left: 49.9em;
    height: 60px;
    width: 800px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
}

.form-email {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 3em;
    left: 49.9em;
    height: 60px;
    width: 800px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
}

.form-onderwerp {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 8em;
    left: 49.9em;
    height: 60px;
    width: 800px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
}

.form-vragen {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 13.5em;
    left: 49.9em;
    height: 200px;
    width: 800px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px 20px 12px 20px;
}

.submit{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 33em;
    left: 59.9em;
    height: 60px;
    width: 400px;
    box-sizing: border-box;
    border: 2px solid #fb9127;
    background-color: #fb9127;
    color: white;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
    border-radius: 8px;
}

.submit:hover{
    border: 3px solid #fb9127;
    color: #fb9127;
    background-color: transparent;
}

/*Text on the left side of the line*/

.left-text{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    top: -18em;
}

.left-header{
    position: absolute;
    font-size: 3em;
    left: 1.3em;
    width: 15em;
}

.header-text{
    position: absolute;
    font-size: 1.3em;
    top: 4em;
    left: 1em;
    width: 30em;
}

.second-header{
    position: absolute;
    font-size: 2em;
    top: 3.7em;
    left: 0.6em;
    width: 30em;
}

.second-text{
    position: absolute;
    font-size: 1.3em;
    top: 8em;
    left: 1em;
    width: 30em;
}

.third-header{
    position: absolute;
    font-size: 2em;
    top: 6.2em;
    left: 0.6em;
    width: 30em;
}

.third-text{
    position: absolute;
    font-size: 1.3em;
    top: 12em;
    left: 1em;
    width: 30em;
}

.fourth-header{
    position: absolute;
    font-size: 2em;
    top: 12.7em;
    left: 0.6em;
    width: 30em;
}

.fourth-list{
    position: absolute;
    font-size: 0.5em;
    top: 60em;
    left: 0.25em;
    width: 70em;
    color: black;
}

.kleur{
    color: black;
}

/*Footer CSS*/
.contact-image{
    position: relative;
    top: 700px;
    background-size: cover;
    background-size: 100%;
    width: 100%;
    height: 420px;
    background-image: url("https://i2.wp.com/www.creativesnapbacks.com/wp-content/uploads/2014/12/footer-background-01-noise.png?ssl=1");
}

.contact-title{
    position: absolute;
    top: 10%;
    left: 25%;
    font-weight: bold;
    font-size: 32px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    z-index: 1;
    max-width: 50%;
}


.contact-info{
    position: absolute;
    top: 30%;
    left: 25%;
    font-weight: 100;
    font-size: 22px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    z-index: 1;
    max-width: 30%;
}

.straatnaam{
    position: absolute;
    top: 30%;
    left: 60%;
    font-weight: 100;
    font-size: 22px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    z-index: 1;
    max-width: 30%;
}

.bottom-text{
    position: relative;
    top: 700px;
    color: black;
    left: 100px;
    max-width: 50%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    letter-spacing: .2rem;
}

@media only screen and (max-width: 420px) {
    img{
        position: relative;
        background-size: cover;
        width: 420px;
        height: 200px;
    }

    .text1{
        font-size: 30px;
        position: relative;
        top: -480px;
    }

    .text2{
        font-size: 15px;
        position: relative;
        top: -455px;
    }

    .under-line{
        top: 52em;
    }

    .midlle-line{
        display: none;
    }

    /*Eerste text*/
    .left-text{
        top: -20em;
    }

    .left-header{
        font-size: 1.5em;
        left: 0.5em;
        width: 15em;
    }

    .header-text{
        font-size: 1em;
        top: 3em;
        left: 0.9em;
    }

    .second-header{
        font-size: 1.2em;
        top: 4.5em;
        left: 0.7em;
    }

    .second-text{
        font-size: 1em;
        top: 7.5em;
        left: 0.9em;
    }

    .third-header{
        font-size: 1.2em;
        top: 8em;
        left: 0.7em;
    }

    .third-text{
        font-size: 1em;
        top: 12em;
        left: 0.9em;;
    }

    .fourth-header{
        font-size: 1.2em;
        top: 17em;
        left: 0.7em;
    }

    li, .kleur{
        font-size: 2em;
        top: -7em;
        left: 0em;
        width: 70em;
        color: black;
        display: list-item;
    }

/*    Form*/
    .form-all{
        position: relative;
    }

    .form-text-1{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        position: absolute;
        top: 5.5em;
        left: 2.7em;
        width: 500px;
        font-size: 30px;
    }

    .form-text-2{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        position: absolute;
        top: 15.5em;
        left: 3.4em;
        width: 340px;
        font-size: 15px;
    }

    .form-naam {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        position: absolute;
        top: 19em;
        left: 3.1em;
        height: 50px;
        width: 300px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        padding: 12px 20px 12px 20px;
    }

    .form-email {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        position: absolute;
        top: 23em;
        left: 3.1em;
        height: 50px;
        width: 300px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        padding: 12px 20px 12px 20px;
    }

    .form-onderwerp {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        position: absolute;
        top: 27em;
        left: 3.1em;
        height: 50px;
        width: 300px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        padding: 12px 20px 12px 20px;
    }

    .form-vragen {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        position: absolute;
        top: 31em;
        left: 3.1em;
        height: 80px;
        width: 300px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        padding: 12px 20px 12px 20px;
    }

    .submit{
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        position: absolute;
        top: 44.5em;
        left: 3.7em;
        height: 50px;
        width: 300px;
        box-sizing: border-box;
        border: 2px solid #fb9127;
        background-color: #fb9127;
        color: white;
        transition: background-color 0.5s, color 0.5s;
        cursor: pointer;
        border-radius: 8px;
    }
}