
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


.footer{
    position: absolute;
    top: 2600px;
    background-color:  #1b1b1b;
    width: 100%;
    padding-top: 40px;
    color: white;
    margin: 0 auto;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h4{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    position: relative;
    top: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    
}

.socials li{
    margin: 0 10px;
    
}

.socials a{
    text-decoration: none;
    color: white;
}

.socials a i{
    font-size: 1.1rem;
    
}

.footer-bottom{
    position: relative;
    top: 31px;
    background-color: #0b0b0b;
    padding: 20px 0;
    margin-top: 61px;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    
}