 body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161616;
    opacity: calc(90%);
    position: fixed;
    z-index: 2;
    width: 100%;
}

li, a {
    position: relative;
    bottom: 8px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: azure;
    text-decoration: none;
}

.logo{
    position: relative;
    height: 60px;
    width: 60px;
    margin-right: 170px;
    margin-left: 200px ;
    padding-left: 10px;
}


.nav_links {
    list-style: none;
    
}

.nav_links li {
    display: inline-block;  
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}   	

.nav_links li a:hover {
    color:  rgba(255, 128, 0, 0.915);
}

@media only screen and (min-width: 420px) and (max-width: 500px){
    nav{
        height: 98px;
    }

    .logo{
        position: relative;
        height: 60px;
        width: 60px;
        margin-right: 0px;
        margin-left: 0px ;
        padding-left: 10px;
    }

    li, a {
        display: none;
    }
}

@media only screen and (min-width: 360px) and (max-width: 419px) {
    nav {
        width: 100%;
    }
}

@media only screen and (min-width: 760px) and (max-width: 800px) {
    nav{
        height: 60px;
    }

    .logo{
        height: 30px;
        width: 30px;
        margin-right: 0px;
        margin-left: 0px ;
        padding-left: 10px;
    }

    .black-header {
        height: 60px;
        width: 100%;
    }

    li, a {
        display: none;
    }
}