body {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    background-color: #161616;
    opacity: calc(90%);
    position: fixed;
    z-index: 2;
    width: 100%;
}

li, a {
    position: relative;
    bottom: 8px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: azure;
    text-decoration: none;
}

.logo{
    position: relative;
    height: 60px;
    width: 60px;
    margin-right: 300px;
}


.nav_links {
    list-style: none;
    

}

.nav_links li {
    display: inline-block;  
    margin-right: 40px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}   	

.nav_links li a:hover {
    color:  rgba(255, 128, 0, 0.915);
}


@media screen and (max-width: 1400px) {
    li, a {
        position: relative;
        display: flex;
        bottom: 8px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 25px;
        color: azure;
        text-decoration: none;
        text-align: center;
    }
    
    .logo{
        position: relative;
        height: 60px;
        width: 60px;
    }
    
    .nav_links {
        list-style: none;
        justify-content: center;
    
    
    }
    

}

@media screen and (max-width: 1000px) {
    li, a {
        position: relative;
        display: flex;
        bottom: 8px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 25px;
        color: azure;
        text-decoration: none;
        text-align: center;
    }
    
    .nav_links {
        list-style: none;
        justify-content: center;
    
    }
    
    .logo{
        position: relative;
        height: 60px;
        width: 60px;
        margin-right: 0px;
    }

}


@media screen and (max-width: 688px) {

.contact{
    position: relative;
    left: 180px;
}


}


@media screen and (max-width: 540px) {

     
    .logo{
        position: relative;
        height: 60px;
        width: 60px;
        margin-right: 0px;
        margin-bottom: 20px;
    }

.contact{
    position: relative;
    left: 10px;
}

.reserveren{
    position: relative;
    right: -12px;
}


}

@media screen and (max-width: 375px) {
  
    .logo{
        position: relative;
        height: 60px;
        width: 60px;
        margin-right: 0px;
        margin-bottom: 20px;
    }

.contact{
    position: relative;
    left: 200px;
    bottom: 35px;
}

.reserveren{
    position: relative;
    right: -12px;
}


}
