
.black-header{
    position: relative;
    width: 100%;
    height: 100px;
    background-color:   black ;
    z-index: 1;
}

.front-image{
    position: relative;
    top: -300px;
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
    background-image: url("https://media.discordapp.net/attachments/1017696900184555522/1019519714164228196/unknown.png?width=1440&height=425");
}

.front-title{
    position: relative;
    top: -280px;
    color: rgb(255, 255, 255);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    z-index: 1;
    filter: drop-shadow(1px 1px 10px #00000075);
}

.front-info{
    position: relative;
    top: -300px;
    color: rgb(255, 255, 255);
    font-family: cursive;
    font-size: 20px;
    z-index: 1;
    filter: drop-shadow(1px 1px 10px #00000075);
}

center{
    position: relative;
    top: -350px;
}

.menukaart{
    position: relative;
    left: 60%;
    bottom: 300px;
    color: white;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: .2rem;
    padding: 9px 25px;
    background-color: #fb9127;
    height: 60px;
    width: 300px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
}

.menukaart:hover {
    border: 3px solid #fb9127;
    color: #fb9127;
    background-color: transparent;
}



.menu-title{
    position: relative;
    left: -80px;
    bottom: 500px;
    font-size: 36px;
    max-width: 50%;
    max-width: 1100px;
    margin: 0 auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.menu-text{
    position: relative;
    font-size: 20px;
    left: -80px;
    bottom: 450px;
    max-width: 1100px;
    margin: 0 auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

    