.black-header{
    position: relative;
    width: 100%;
    height: 100px;
    background-color:   black ;
    z-index: 1;
}

.front-image{
    position: relative;
    top: -300px;
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center, center;
    background-repeat: no-repeat;
    background-image: url("https://media.discordapp.net/attachments/1017696900184555522/1019519714164228196/unknown.png?width=1440&height=425");
}

.front-title{
    position: relative;
    top: -300px;
    color: rgb(255, 255, 255);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 50px;
    z-index: 1;
}

.front-info{
    position: relative;
    top: -300px;
    color: rgb(255, 255, 255);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    z-index: 1;
}

center{
    position: relative;
    top: -350px;
}