.product {
  display: flex;
  flex-direction: row;
  background-color: rgba(220, 220, 220, 0.8);
  border-top: 1px solid rgba(180, 180, 180, 1);
  border-bottom: 1px solid rgba(180, 180, 180, 1);
  border-right: 1px solid rgba(180, 180, 180, 1);
}
.product:not(:first-child) {
  border-top: 0.5px;
}
.productData {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 0.5rem;
}

.productDataText {
  gap: 0.2rem;
  margin-bottom: 0.5rem;
}
.productName {
  font-size: 25px;
  color: goldenrod;
}
.productDesc {
}

.productDataMeta {
  display: flex;
  flex-direction: column;
}
.productTypes {
  display: flex;
  flex-direction: row;
}

.metaItem {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items: center;
}

.icon {
  width: 2em;
  height: 2em;
  display: inline-block;
  line-height: 1em;
  flex-shrink: 0;
  color: currentColor;
  vertical-align: middle;
}
